.container {
    text-align: center;
    padding: 0;
    margin: 0;
}

.text1 {
    position: absolute;
    top: 40%;
    left: 6%;
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 2px;
}

.text2 {
    position: absolute;
    top: 40%;
    left: 29.78%;
    font-family: 'Rajdhani';
    font-weight: 500;
    font-size: 27px;
    letter-spacing: 3px;
    @media (max-width: 1100px) {
        position: absolute;
        transform: translateY(-24px);
        left: 29.78%;
        font-family: 'Rajdhani';
        font-weight: 500;
        font-size: 27px;
        letter-spacing: 3px;
    }
}

.button {
    text-decoration: none;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
}

.gallery_two {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-left: 36px;
    width: 1122px;
    margin: 0 auto;
}

.gallery .pics {
    transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic {
    width: 350px;
    height: 310px;
    padding-bottom: 20px;
    padding-right: 12px;
    object-fit: cover;
}

@media (max-width: 1000px) {
    .gallery {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .pic {
        padding-right: 12px;
    }
}

@media (max-width: 768px) {
    .gallery {    
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        width: 310px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }

    .gallery_two {    
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        width: 310px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto;
    }
    .pic {
        height: 350px;
        width: 310px;
        padding-right: 0;
        margin: 0 auto;
    }    
}

.textdecoration {
    text-decoration: none;
}

.whitetext {
    color: #ffffff;
}

